.footer {
    padding-top: 106px;
    display: flex;
    justify-content: center;
    line-height: 140%;
    color: var(--beige);

.footer__logo {
        padding-top: 106px;
        display: flex;
        justify-content: center;
       margin-bottom: 64px;
    }

    .footer__container {

        padding-left: 89px;
        
    .footer__copyright {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
       
        
    }

    .footer__developers {
        
    }

    .footer__developer {
       
    }

    .footer__developer-link {
       
}
    }
}